@page "/"
@using BattleshipsSimulation.Models
<div class="row">
    <div class="col-sm text-center">
        <h4>Player1 ships</h4>

        <table class="ship-board">
            @for (int i = 1; i <= 10; i++)
            {
                <tr>
                    @for (int j = 1; j <= 10; j++)
                    {
                        <td class="ship-tile @(Player1.Cells.First(x => x.X == i && x.Y == j).IsShip == false ? "red" : "yellow")">
                            <div style="width:35px;height:35px;">@Player1.Cells.First(x => x.X == i && x.Y == j).IsShip</div>
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
    <div class="col-sm text-center">
        <h4>Player2 ships</h4>

        <table class="ship-board">
            @for (int i = 1; i <= 10; i++)
            {
                <tr>
                    @for (int j = 1; j <= 10; j++)
                    {
                        <td class="ship-tile @(Player2.Cells.First(x => x.X == i && x.Y == j).IsShip == false ? "yellow" : "red")">
                            <div style="width:35px;height:35px;">@Player2.Cells.First(x => x.X == i && x.Y == j).IsShip</div>
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
</div>>





@code {
    Player Player1 { get; set; }
    Player Player2 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Player1 = new Player();
        Player2 = new Player();

        await GameMechanics.DataGenerator.GenerateBoard(Player1);
        await GameMechanics.DataGenerator.GenerateBoard(Player2);

        await GameMechanics.DataGenerator.GenerateShips(Player1);
        await GameMechanics.DataGenerator.GenerateShips(Player2);
    }

}